.hide {
    display: none;
}

:root {
    background-color: aqua;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 70px;
    color: black;
    margin-bottom: 0px;
}

h2 {
    font-size: 30px;
    padding-inline-end: 30px;
}